<form #uform="ngForm" novalidate (ngSubmit)="onsubmit()">
   
    
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name= "name" id="email" [(ngModel)]="user.name">
      
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name= "email" [(ngModel)]="user.email"l >
    </div>
    <div class="form-group">
        <label for="comment">commment</label>
        <textarea name="" id="" row class="form-control" name= "comment" [(ngModel)]="user.comment"></textarea>
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-warning" >Submit</button>
</form>