/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background:#080808;
    color:#fff;
}